/* Small */
@media only screen and (max-width: 600px) {

    h3 {
        font-size: large;
    }

    h4 {
        font-size: medium;
    }
    
    p {
        font-size: small;
    }

    #selected > h1 {
        font-size: large;
    }
    
    .nav-link {
        margin: 1rem 0rem;
        font-family: "AUTHENTICSans-90";
        font-size: large;
        font-weight: normal;
        color: black;
    }

    .block-quote p {
        font-size: medium;
    }

    #about p {
        font-size: small;
    }
}

/* Medium */
@media only screen and (min-width: 600px) and (max-width: 1000px) {

    h3 {
        font-size: x-large;
    }

    h4 {
        font-size: large;
    }
    
    p {
        font-size: medium;
    }

    #selected > h1 {
        font-size: x-large;
    }
    
    .nav-link {
        margin: 1rem 0rem;
        font-family: "AUTHENTICSans-90";
        font-size: x-large;
        font-weight: normal;
        color: black;
    }

    .block-quote p {
        font-size: large;
    }

    #about p {
        font-size: medium;
    }
}

/* Both */
@media only screen and (max-width: 1000px) {
    body {
        margin: 0rem;
    }
    
    h1 {
        font-size: x-large;
    }
    
    h2 {
        font-size: x-large;
    }
    
    /* Menu */
    #menu {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
        padding-top: 1rem;
        background-color: white;
    }
    
    #menu > div {
        margin: 0rem 0.5rem;
    }
    
    #header {
        display: none;
    }
    
    /* Title */
    #title {
        display: contents;
    }
    
    #subtitle {
        text-align: center;
        font-size: large;
        margin: 2rem 2rem;
        margin-top: 0rem;
        
    }
    
    /* Gallery */
    #gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3rem 1em;
    }
    
    .thumbnail {
        width: 80vw;
        min-width: 300px;
        margin: 2vh 2vw;
    }
    
    .thumbnail > img {
        height: 30vh;
    }
    
    .thumbnail h2 {
        font-size: large;
    }
    
    .thumbnail h3 {
        font-size: medium;
    }
    
    /* About */
    #about {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3rem 1em;
    }
    
    #about > div {
        width: auto;
        margin: 2rem;
    }
    
    #about img {
        width: 60vw;
        margin: 0rem auto;
    }
    
    /* Content */
    #content {
        margin: 1rem;
        padding: 4rem 2rem;
        padding-top: 0rem;
        
    }
    
    .banner {
        width: 80vw;
        aspect-ratio: 16 / 9;
        display: block;
        
    }

    .feature img {
        width: 80vw;
    }

    .feature p {
        font-size: medium;
    }
    
    .one-column {
        margin: 2rem 1rem;
    }

    .one-column-before-two {
        margin-bottom: 0rem;;
    }
    
    .two-column {
        margin: 2rem 1rem;
    }
    
    .two-column-instance {
        flex-direction: column;
    }
    
    .two-column-instance > div {
        width: 100%;
        margin: 1rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .block-quote {
        margin: 2rem;
        padding-left: 1rem;
    }
    
    ol, ul{
        margin: 0rem;
    }
    
    li {
        margin: 1rem 0rem;
        font-size: small;
    }
    
    /* Accent colors */
    #title.altogether {
        color: #FF0404;
    }
    
    #title.ted-lasso,
    #title.linked-out {
        color: #0041FF;
    }
    
   #title.guia {
        color: #EF9D23;
    }
    
    #title.soundsight  {
        color: #45863A;
    }
    
    #title.buildagram  {
        color: #500484;
    }

    #title.fil-am  {
        color: #FF0D86;
    }
    
    #title.in-flux {
        color: #52A6D4;
    }
    
}