
@font-face {
    font-family: "AUTHENTICSans-60";
    src: url("/assets/fonts/AUTHENTICSans-60.otf");
}
@font-face {
    font-family: "AUTHENTICSans-90";
    src: url("/assets/fonts/AUTHENTICSans-90.otf");
}
@font-face {
    font-family: "AUTHENTICSans-130";
    src: url("/assets/fonts/AUTHENTICSans-130.otf");
}

* {
    font-family: "AUTHENTICSans-90";
    font-weight: normal;
}

body {
    margin: 1rem;
}

h1 {
    font-family: "AUTHENTICSans-130";
    font-size: x-large;
    color: #52A6D4;
}

h2 {
    font-family: "AUTHENTICSans-130";
    font-size: x-large;
}

h3 {
    font-size: x-large;
    font-weight: normal;
}

a:hover {
    text-decoration: none;
}

/* Menu */
#menu {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 1rem;
}

#menu > div {
    margin: 0rem 1rem;
}

#name {
    flex-grow: 1;
}

#name > h1 {
    margin: 0rem;
}

.nav-link {
    margin: 1rem 0rem;
    font-family: "AUTHENTICSans-90";
    font-size: x-large;
    font-weight: normal;
    color: black;
}

/* Credit */
#credit {
    position: fixed;
    left: 2rem;
    bottom: 1rem;
    font-family: "AUTHENTICSans-60";
    font-weight: lighter;
    color: #B6B6B6;
} 

/* Gallery */
#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6rem 4rem;
}

.thumbnail {
    width: 40vw;
    margin: 1rem 2rem;
    cursor: pointer;
}

.thumbnail > img {
    display: block;
    height: 40vh;
    width: 100%;
    object-fit: cover;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5%;
}

.thumbnail h2 {
    margin-bottom: 0rem;
    color: black;
    text-decoration: none;
}
.thumbnail h3 {
    margin-top: 0rem;
    color: #B6B6B6;
    text-decoration: none;
}