@media only screen and (max-width: 1000px) {
    body {
        margin: 0rem;
    }
    
    h1 {
        font-size: x-large;
    }
    
    h2 {
        font-size: x-large;
    }
    
    p {
        font-size: small;
    }
    
    /* Menu */
    #menu {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
        padding-top: 1rem;
        background-color: white;
    }
    
    #menu > div {
        margin: 0rem 0.5rem;
    }
    
    #header {
        display: none;
    }
    
    #selected > h1 {
        font-size: large;
    }
    
    .nav-link {
        margin: 1rem 0rem;
        font-family: "AUTHENTICSans-90";
        font-size: large;
        font-weight: normal;
        color: black;
    }
    
    /* Title */
    #title {
        display: contents;
    }
    
    #subtitle {
        text-align: center;
        font-size: large;
        margin: 2rem 2rem;
        margin-top: 0rem;
        
    }
    
    /* Gallery */
    #gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3rem 1em;
    }
    
    .thumbnail {
        width: 80vw;
        min-width: 300px;
        margin: 2vh 2vw;
    }
    
    .thumbnail > img {
        height: 30vh;
    }
    
    .thumbnail h2 {
        font-size: large;
    }
    
    .thumbnail h3 {
        font-size: medium;
    }
    
    /* About */
    #about {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3rem 1em;
    }
    
    #about > div {
        width: auto;
        margin: 2rem;
    }
    
    #about img {
        width: 60vw;
        margin: 0rem auto;
    }
    
    #about p {
        font-size: small;
    }
    
    
    /* Content */
    #content {
        margin: 1rem;
        padding: 4rem 2rem;
        padding-top: 0rem;
        
    }
    
    .banner {
        width: 80vw;
        aspect-ratio: 16 / 9;
        display: block;
        
    }
    
    .one-column {
        margin: 2rem 1rem;
    }
    
    .two-column {
        margin: 2rem 1rem;
    }
    
    .two-column-instance {
        flex-direction: column;
    }
    
    .two-column-instance > div {
        width: 100%;
        margin: 1rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .block-quote {
        margin: 2rem;
        padding-left: 1rem;
    }
    
    .block-quote p {
        font-size: medium;
    }
    
    ol, ul{
        margin: 0rem;
    }
    
    li {
        margin: 1rem 0rem;
        font-size: small;
    }
    
    /* Accent colors */
    #title.altogether {
        color: #FF0404;
    }
    
    #title.ted-lasso, .external-link.ted-lasso a, .block-quote.ted-lasso,
    #title.linked-out, .external-link.linked-out a, .block-quote.linked-out {
        color: #0041FF;
    }
    
    .block-quote.ted-lasso,
    .block-quote.linked-out {
        border-left: 5px solid #0041FF;
    }
    
    #header.guia, .external-link.guia a, .block-quote.guia {
        color: #EF9D23;
    }
    
    .block-quote.guia {
        border-left: 5px solid #EF9D23;
    }
    
    #header.soundsight, .external-link.soundsight a, .block-quote.soundsight  {
        color: #45863A;
    }
    
    .block-quote.soundsight {
        border-left: 5px solid #45863A;
    }
    
    #header.buildagram, .external-link.buildagram a, .block-quote.buildagram  {
        color: #500484;
    }
    
    .block-quote.buildagram {
        border-left: 5px solid #500484;
    }
    
    #header.fil-am, .external-link.fil-am a, .block-quote.fil-am  {
        color: #FF0D86;
    }
    
    .block-quote.fil-am {
        border-left: 5px solid #FF0D86;
    }
    
    #header.in-flux, .external-link.in-flux a, .block-quote.in-flux   {
        color: #52A6D4;
    }
    
    .block-quote.in-flux {
        border-left: 5px solid #52A6D4;
    }
    
}