@font-face {
    font-family: "Standard-Book";
    src: url("assets/fonts/standard-book.otf");
}
@font-face {
    font-family: "Standard-Bold";
    src: url("assets/fonts/standard-bold.otf");
}
@font-face {
    font-family: "Newsreader";
    src: url("assets/fonts/Newsreader-VariableFont_opsz\,wght.ttf");
}
@font-face {
    font-family: "Newsreader-Italic";
    src: url("assets/fonts/Newsreader-Italic-VariableFont_opsz\,wght.ttf");
}


* {
    font-family: "Standard-Book";
    font-weight: normal;
    font-size: medium;
    line-height: 1.25rem;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#sidebar {
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    width: 18vw;

    /* Fixed sidebar */
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}


#name {
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 1rem 2rem;
}

#name a, #name h1 {
    text-decoration: none;
    font-family: "Standard-Book";
    font-size: large;
    color: #EF2FDC;
}

#menu {
    padding: 1rem 2rem;
}

ul.no-bullets, ul.dash-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

ul.dash-bullets li::before {
    content: '— '
}

#menu li {
    margin-bottom: 0.5rem;
}

#menu a {
    font-family: "Standard-Book";
    font-size: medium;
    text-decoration: none;
    color: #EF2FDC;
}

header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0rem;
    height: 5rem;
    z-index: 1; /* Stay on top */

}

header > div {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: #EF2FDC;

}

#content {
    display: flex;
    flex-direction: column;
    width: 82vw;
    margin-left: 18vw;
    
}

main {
    padding: 1rem 2rem;
}

#gallery {
    /* padding: 1rem; */
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 1rem; */
}

/* .gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: space;
} */

.thumbnail {
    width: 49%;
    margin-bottom: 1rem;
    /* width: 30vw; */
    /* min-width: 500px; */
    /* margin: 2vh 2vw; */
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85%;
    width: 100%;
    opacity: 0;
    border-radius: 100%;
    transition: .1s ease;
    background-color: #EF2FDC;
    mix-blend-mode: exclusion;
}

.thumbnail:hover .overlay {
    opacity: 0.75;
}

.thumbnail img {
    display: block;
    width: 100%;
    height: auto;
    /* width: auto; */
    /* max-height: 30vh; */
    /* max-width: 60vh; */
    /* object-fit: cover; */
}

.thumbnail h2 {
    margin-bottom: 0rem;
    /* color: black; */
    font-family: "Newsreader";
    font-size: large;
    text-decoration: none;
}
.thumbnail h3 {
    margin-top: 0rem;
    color: black;
    font-family: "Newsreader-Italic";
    text-decoration: none;
}

.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.two-column .minor {
    width: 35%;
}

.two-column .major {
    width: 60%;
}

.two-column img {
    width: 100%;
    object-fit: contain;
}

h1 {
    font-family: "Newsreader";
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #EF2FDC;
}

h2 {
    font-family: "Newsreader-Italic";
    font-size: 1.3rem;
}

section h2 {
    margin-top: 0;
}

section {
    margin-bottom: 3rem;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}

a {
    font-family: "Newsreader";
    text-decoration: underline;
    font-size: medium;
    color: #EF2FDC;

}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
}

footer {
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
}

.feature {
    margin-bottom: 8rem;
}

figure {
    margin: 0;
}

figcaption {
    text-align: end;
}

.block-quote {
    margin: 0rem 3rem;
    padding-left: 1rem;
    color:#EF2FDC;
    border-left: 2px solid #EF2FDC;
}

.block-quote p {
    font-family: "Newsreader-Italic";
    font-size: large;
    line-height: 1.5rem;
}

.block-quote-credit {
    text-align: right;
}

.filter-button {
    background-color: rgba(0, 0, 0, 0);
    margin: 0rem 0.1rem;
    padding: 0.25rem 0.5rem;
    /* padding: 0rem 0.5rem; */
    /* padding: 15px 32px; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 16px; */
    /* margin: 4px 2px; */
    cursor: pointer;
}

.filter-button:hover,
.filter-button.selected {
    border: 2px solid #EF2FDC;
    color: #EF2FDC;
    font-weight: bold;
}

.filter-button {
    border: 1px solid #F6B6F0;
    color: #F6B6F0;
}

#gallery a {
    /* display: none; */
}